{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "http://localhost",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          ".git"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "public_html",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".gitattributes",
          "mtimeMs": 1606277809723.5366,
          "date": "2021-03-11T20:01:29.244Z"
        },
        {
          "file": ".htaccess",
          "mtimeMs": 1606277809734.0823,
          "date": "2021-03-11T20:01:30.300Z"
        },
        {
          "file": "404.html",
          "mtimeMs": 1615651008360.4453,
          "date": "2021-03-13T16:31:47.501Z"
        },
        {
          "file": "LICENSE",
          "mtimeMs": 1606277809736.3936,
          "date": "2021-03-11T20:01:32.055Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1606277809737.562,
          "date": "2021-03-11T20:01:32.884Z"
        },
        {
          "file": "ads.txt",
          "mtimeMs": 1606277809737.562,
          "date": "2021-03-11T20:01:33.756Z"
        },
        {
          "file": "apple-touch-icon.png",
          "mtimeMs": 1606277809738.559,
          "date": "2021-03-11T20:01:34.687Z"
        },
        {
          "file": "browserconfig.xml",
          "mtimeMs": 1606277809739.5574,
          "date": "2021-03-11T20:01:35.488Z"
        },
        {
          "file": "contacto.html",
          "mtimeMs": 1622939460467.3608,
          "date": "2021-06-06T00:31:36.024Z"
        },
        {
          "file": "crossdomain.xml",
          "mtimeMs": 1606277809742.1316,
          "date": "2021-03-11T20:01:37.329Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1606277809777.022,
          "date": "2021-03-11T20:01:38.158Z"
        },
        {
          "file": "humans.txt",
          "mtimeMs": 1606277809802.263,
          "date": "2021-03-11T20:01:39.096Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1622938136067.1812,
          "date": "2021-06-06T00:31:36.972Z"
        },
        {
          "file": "pinterest-5f0cf.html",
          "mtimeMs": 1606277809804.9563,
          "date": "2021-03-11T20:01:40.855Z"
        },
        {
          "file": "portafolio.html",
          "mtimeMs": 1615650642822.3445,
          "date": "2021-03-13T16:31:52.725Z"
        },
        {
          "file": "prepros.config",
          "mtimeMs": 1622939497087.0571,
          "date": "2021-06-06T00:31:38.002Z"
        },
        {
          "file": "presentacion.html",
          "mtimeMs": 1622939386486.7244,
          "date": "2021-06-06T00:31:38.867Z"
        },
        {
          "file": "robots.txt",
          "mtimeMs": 1606277809809.397,
          "date": "2021-03-11T20:01:44.563Z"
        },
        {
          "file": "sitemap.xml",
          "mtimeMs": 1615491715293.0356,
          "date": "2021-03-11T20:01:45.382Z"
        },
        {
          "file": "tile-wide.png",
          "mtimeMs": 1606277809863.5352,
          "date": "2021-03-11T20:01:46.278Z"
        },
        {
          "file": "tile.png",
          "mtimeMs": 1606277809863.5352,
          "date": "2021-03-11T20:01:47.156Z"
        },
        {
          "file": "designer/.htaccess",
          "mtimeMs": 1606277809743.1736,
          "date": "2021-03-11T20:03:35.367Z"
        },
        {
          "file": "designer/404.html",
          "mtimeMs": 1615652902992.5005,
          "date": "2021-03-13T16:32:37.354Z"
        },
        {
          "file": "designer/apple-touch-icon.png",
          "mtimeMs": 1606277809745.3977,
          "date": "2021-03-11T20:03:37.212Z"
        },
        {
          "file": "designer/browserconfig.xml",
          "mtimeMs": 1606277809746.516,
          "date": "2021-03-11T20:03:38.167Z"
        },
        {
          "file": "designer/crossdomain.xml",
          "mtimeMs": 1606277809747.5144,
          "date": "2021-03-11T20:03:39.206Z"
        },
        {
          "file": "designer/favicon.ico",
          "mtimeMs": 1606277809748.5125,
          "date": "2021-03-11T20:03:40.158Z"
        },
        {
          "file": "designer/humans.txt",
          "mtimeMs": 1606277809749.3943,
          "date": "2021-03-11T20:03:41.103Z"
        },
        {
          "file": "designer/index.html",
          "mtimeMs": 1622917478685.8188,
          "date": "2021-06-05T18:32:22.139Z"
        },
        {
          "file": "designer/recomendacion.html",
          "mtimeMs": 1615652674821.2578,
          "date": "2021-03-13T16:32:39.126Z"
        },
        {
          "file": "designer/robots.txt",
          "mtimeMs": 1606277809752.5017,
          "date": "2021-03-11T20:03:45.141Z"
        },
        {
          "file": "designer/sitemap.xml",
          "mtimeMs": 1615652453844.9402,
          "date": "2021-03-13T16:32:40.013Z"
        },
        {
          "file": "designer/tile-wide.png",
          "mtimeMs": 1606277809774.906,
          "date": "2021-03-11T20:03:46.990Z"
        },
        {
          "file": "designer/tile.png",
          "mtimeMs": 1606277809775.8354,
          "date": "2021-03-11T20:03:47.890Z"
        },
        {
          "file": "designer/src/stylus/footer.styl",
          "mtimeMs": 1606277809754.5422,
          "date": "2021-03-11T20:03:49.220Z"
        },
        {
          "file": "designer/src/stylus/main.styl",
          "mtimeMs": 1622916885552.074,
          "date": "2021-06-05T18:32:23.438Z"
        },
        {
          "file": "designer/src/stylus/reset.styl",
          "mtimeMs": 1606277809757.0662,
          "date": "2021-03-11T20:03:51.620Z"
        },
        {
          "file": "designer/static/css/main.css",
          "mtimeMs": 1622916886339.7341,
          "date": "2021-06-05T18:32:24.818Z"
        },
        {
          "file": "designer/static/img/brave-logotype-dark.svg",
          "mtimeMs": 1606277809760.2607,
          "date": "2021-03-11T20:03:54.441Z"
        },
        {
          "file": "designer/static/img/edgarcornejo.svg",
          "mtimeMs": 1606277809761.2068,
          "date": "2021-03-11T20:03:55.919Z"
        },
        {
          "file": "designer/static/img/icon-close.svg",
          "mtimeMs": 1606277809762.7012,
          "date": "2021-03-11T20:03:57.567Z"
        },
        {
          "file": "designer/static/img/icon-hamburger.svg",
          "mtimeMs": 1606277809763.7153,
          "date": "2021-03-11T20:03:58.913Z"
        },
        {
          "file": "designer/static/img/icon-social.svg",
          "mtimeMs": 1606277809764.9797,
          "date": "2021-03-11T20:04:00.444Z"
        },
        {
          "file": "designer/static/img/mamp.png",
          "mtimeMs": 1606277809766.184,
          "date": "2021-03-11T20:04:01.968Z"
        },
        {
          "file": "designer/static/img/prepros.png",
          "mtimeMs": 1606277809767.1833,
          "date": "2021-03-11T20:04:03.272Z"
        },
        {
          "file": "designer/static/img/restream.png",
          "mtimeMs": 1606277809768.4219,
          "date": "2021-03-11T20:04:04.478Z"
        },
        {
          "file": "designer/static/img/servicio.png",
          "mtimeMs": 1606277809769.4785,
          "date": "2021-03-11T20:04:05.771Z"
        },
        {
          "file": "designer/static/img/servicios.svg",
          "mtimeMs": 1606277809771.2651,
          "date": "2021-03-11T20:04:06.970Z"
        },
        {
          "file": "designer/static/img/sprite.png",
          "mtimeMs": 1606277809772.908,
          "date": "2021-03-11T20:04:08.366Z"
        },
        {
          "file": "designer/static/js/sensitive.js",
          "mtimeMs": 1606277809773.907,
          "date": "2021-03-11T20:04:09.699Z"
        },
        {
          "file": "frontend-developer/.htaccess",
          "mtimeMs": 1606277809778.5796,
          "date": "2021-03-11T20:04:10.765Z"
        },
        {
          "file": "frontend-developer/404.html",
          "mtimeMs": 1615653016747.7725,
          "date": "2021-03-13T16:32:40.931Z"
        },
        {
          "file": "frontend-developer/apple-touch-icon.png",
          "mtimeMs": 1606277809780.7673,
          "date": "2021-03-11T20:04:12.672Z"
        },
        {
          "file": "frontend-developer/browserconfig.xml",
          "mtimeMs": 1606277809781.7888,
          "date": "2021-03-11T20:04:13.630Z"
        },
        {
          "file": "frontend-developer/crossdomain.xml",
          "mtimeMs": 1606277809782.786,
          "date": "2021-03-11T20:04:14.585Z"
        },
        {
          "file": "frontend-developer/humans.txt",
          "mtimeMs": 1606277809784.7922,
          "date": "2021-03-11T20:04:16.425Z"
        },
        {
          "file": "frontend-developer/index.html",
          "mtimeMs": 1615491990013.1768,
          "date": "2021-03-11T20:04:17.380Z"
        },
        {
          "file": "frontend-developer/robots.txt",
          "mtimeMs": 1606277809786.7874,
          "date": "2021-03-11T20:04:18.268Z"
        },
        {
          "file": "frontend-developer/tile-wide.png",
          "mtimeMs": 1606277809800.267,
          "date": "2021-03-11T20:04:19.232Z"
        },
        {
          "file": "frontend-developer/tile.png",
          "mtimeMs": 1606277809801.264,
          "date": "2021-03-11T20:04:20.178Z"
        },
        {
          "file": "frontend-developer/src/stylus/header.styl",
          "mtimeMs": 1615482576665.3694,
          "date": "2021-03-11T20:04:21.405Z"
        },
        {
          "file": "frontend-developer/src/stylus/helper.styl",
          "mtimeMs": 1606277809788.8997,
          "date": "2021-03-11T20:04:22.637Z"
        },
        {
          "file": "frontend-developer/src/stylus/main.styl",
          "mtimeMs": 1615491311758.6067,
          "date": "2021-03-11T20:04:23.854Z"
        },
        {
          "file": "frontend-developer/src/stylus/reset.styl",
          "mtimeMs": 1606277809791.9263,
          "date": "2021-03-11T20:04:25.102Z"
        },
        {
          "file": "frontend-developer/static/css/main.css",
          "mtimeMs": 1615491312395.6028,
          "date": "2021-03-11T20:04:26.437Z"
        },
        {
          "file": "frontend-developer/static/img/edgarcornejo.svg",
          "mtimeMs": 1606277809794.9197,
          "date": "2021-03-11T20:04:29.114Z"
        },
        {
          "file": "frontend-developer/static/img/icon-close.svg",
          "mtimeMs": 1606277809795.4517,
          "date": "2021-03-11T20:04:32.032Z"
        },
        {
          "file": "frontend-developer/static/img/icon-hamburger.svg",
          "mtimeMs": 1606277809796.4475,
          "date": "2021-03-11T20:04:33.265Z"
        },
        {
          "file": "frontend-developer/static/img/icon-mail.svg",
          "mtimeMs": 1615482485404.2969,
          "date": "2021-03-11T20:04:34.535Z"
        },
        {
          "file": "frontend-developer/static/img/icon-tel.svg",
          "mtimeMs": 1615482437775.679,
          "date": "2021-03-11T20:04:35.737Z"
        },
        {
          "file": "src/stylus/footer.styl",
          "mtimeMs": 1606277809812.1646,
          "date": "2021-03-11T20:04:40.004Z"
        },
        {
          "file": "src/stylus/main-menu.styl",
          "mtimeMs": 1606277809812.8337,
          "date": "2021-03-11T20:04:41.069Z"
        },
        {
          "file": "src/stylus/main.styl",
          "mtimeMs": 1615652395400.2822,
          "date": "2021-03-13T16:32:42.099Z"
        },
        {
          "file": "src/stylus/reset.styl",
          "mtimeMs": 1606277809815.946,
          "date": "2021-03-11T20:04:43.340Z"
        },
        {
          "file": "src/stylus/second-head.styl",
          "mtimeMs": 1606277809816.9424,
          "date": "2021-03-11T20:04:44.545Z"
        },
        {
          "file": "static/css/main.css",
          "mtimeMs": 1615652396183.0945,
          "date": "2021-03-13T16:32:43.197Z"
        },
        {
          "file": "static/img/edgarcornejo.svg",
          "mtimeMs": 1606277809820.866,
          "date": "2021-03-11T20:04:46.907Z"
        },
        {
          "file": "static/img/icon-close.svg",
          "mtimeMs": 1606277809821.8625,
          "date": "2021-03-11T20:04:48.000Z"
        },
        {
          "file": "static/img/icon-hamburger.svg",
          "mtimeMs": 1606277809822.8599,
          "date": "2021-03-11T20:04:49.135Z"
        },
        {
          "file": "static/img/icon-social.svg",
          "mtimeMs": 1606277809823.987,
          "date": "2021-03-11T20:04:50.200Z"
        },
        {
          "file": "static/img/portafolio/3bingenieros.png",
          "mtimeMs": 1606277809825.982,
          "date": "2021-03-11T20:04:51.651Z"
        },
        {
          "file": "static/img/portafolio/afiche.png",
          "mtimeMs": 1606277809827.6997,
          "date": "2021-03-11T20:04:53.164Z"
        },
        {
          "file": "static/img/portafolio/afiche2.png",
          "mtimeMs": 1606277809829.2097,
          "date": "2021-03-11T20:04:54.557Z"
        },
        {
          "file": "static/img/portafolio/argentine-tango-usa.png",
          "mtimeMs": 1606277809830.209,
          "date": "2021-03-11T20:04:56.017Z"
        },
        {
          "file": "static/img/portafolio/blogedgar.png",
          "mtimeMs": 1606277809832.2388,
          "date": "2021-03-11T20:04:57.363Z"
        },
        {
          "file": "static/img/portafolio/bodega-casaverde.png",
          "mtimeMs": 1606277809833.2783,
          "date": "2021-03-11T20:04:58.652Z"
        },
        {
          "file": "static/img/portafolio/brohurem.png",
          "mtimeMs": 1606277809834.3213,
          "date": "2021-03-11T20:05:00.186Z"
        },
        {
          "file": "static/img/portafolio/edgar-cornejo.png",
          "mtimeMs": 1606277809835.2742,
          "date": "2021-03-11T20:05:01.376Z"
        },
        {
          "file": "static/img/portafolio/excellencecarrelage.png",
          "mtimeMs": 1606277809836.4106,
          "date": "2021-03-11T20:05:02.846Z"
        },
        {
          "file": "static/img/portafolio/excellencerenovation.png",
          "mtimeMs": 1606277809838.6768,
          "date": "2021-03-11T20:05:04.312Z"
        },
        {
          "file": "static/img/portafolio/fabricadebanderas.png",
          "mtimeMs": 1606277809839.8867,
          "date": "2021-03-11T20:05:05.646Z"
        },
        {
          "file": "static/img/portafolio/flayer-argentine-tango-usa.png",
          "mtimeMs": 1606277809840.885,
          "date": "2021-03-11T20:05:07.056Z"
        },
        {
          "file": "static/img/portafolio/fotosgratis.png",
          "mtimeMs": 1606277809841.0056,
          "date": "2021-03-11T20:05:08.239Z"
        },
        {
          "file": "static/img/portafolio/fotosgratislogo.png",
          "mtimeMs": 1606277809842.005,
          "date": "2021-03-11T20:05:09.504Z"
        },
        {
          "file": "static/img/portafolio/fotosgratisweb.png",
          "mtimeMs": 1606277809843.0012,
          "date": "2021-03-11T20:05:10.859Z"
        },
        {
          "file": "static/img/portafolio/ifs.png",
          "mtimeMs": 1606277809843.9988,
          "date": "2021-03-11T20:05:12.303Z"
        },
        {
          "file": "static/img/portafolio/indoor.png",
          "mtimeMs": 1606277809843.9988,
          "date": "2021-03-11T20:05:13.594Z"
        },
        {
          "file": "static/img/portafolio/integrate.png",
          "mtimeMs": 1606277809845.9927,
          "date": "2021-03-11T20:05:14.955Z"
        },
        {
          "file": "static/img/portafolio/jarvaxengineering.png",
          "mtimeMs": 1606277809846.914,
          "date": "2021-03-11T20:05:16.396Z"
        },
        {
          "file": "static/img/portafolio/lineapublicitaria.png",
          "mtimeMs": 1606277809847.9104,
          "date": "2021-03-11T20:05:17.763Z"
        },
        {
          "file": "static/img/portafolio/logotipo-grainsperu.png",
          "mtimeMs": 1606277809848.073,
          "date": "2021-03-11T20:05:18.965Z"
        },
        {
          "file": "static/img/portafolio/logotipos.png",
          "mtimeMs": 1606277809849.0715,
          "date": "2021-03-11T20:05:20.311Z"
        },
        {
          "file": "static/img/portafolio/marketingtv.png",
          "mtimeMs": 1606277809849.0715,
          "date": "2021-03-11T20:05:21.504Z"
        },
        {
          "file": "static/img/portafolio/minilink-soluciones-logo.png",
          "mtimeMs": 1606277809850.0686,
          "date": "2021-03-11T20:05:22.706Z"
        },
        {
          "file": "static/img/portafolio/minilink-soluciones.png",
          "mtimeMs": 1606277809851.074,
          "date": "2021-03-11T20:05:23.861Z"
        },
        {
          "file": "static/img/portafolio/minilink.png",
          "mtimeMs": 1606277809851.074,
          "date": "2021-03-11T20:05:25.191Z"
        },
        {
          "file": "static/img/portafolio/minimarket-lucy-web.png",
          "mtimeMs": 1606277809852.407,
          "date": "2021-03-11T20:05:26.663Z"
        },
        {
          "file": "static/img/portafolio/minimarket-lucy.png",
          "mtimeMs": 1606277809852.407,
          "date": "2021-03-11T20:05:27.929Z"
        },
        {
          "file": "static/img/portafolio/musquy.png",
          "mtimeMs": 1606277809853.8296,
          "date": "2021-03-11T20:05:29.433Z"
        },
        {
          "file": "static/img/portafolio/navedepapel-logo.png",
          "mtimeMs": 1606277809853.8296,
          "date": "2021-03-11T20:05:30.595Z"
        },
        {
          "file": "static/img/portafolio/navedepapel.png",
          "mtimeMs": 1606277809854.8284,
          "date": "2021-03-11T20:05:31.958Z"
        },
        {
          "file": "static/img/portafolio/nobbytex.png",
          "mtimeMs": 1606277809854.8284,
          "date": "2021-03-11T20:05:33.104Z"
        },
        {
          "file": "static/img/portafolio/postal-tango.png",
          "mtimeMs": 1606277809855.8252,
          "date": "2021-03-11T20:05:34.636Z"
        },
        {
          "file": "static/img/portafolio/renova-design-logotipo.png",
          "mtimeMs": 1606277809856.822,
          "date": "2021-03-11T20:05:35.873Z"
        },
        {
          "file": "static/img/portafolio/renova-design.png",
          "mtimeMs": 1606277809856.822,
          "date": "2021-03-11T20:05:37.077Z"
        },
        {
          "file": "static/img/portafolio/renovadesign.png",
          "mtimeMs": 1606277809857.8188,
          "date": "2021-03-11T20:05:38.546Z"
        },
        {
          "file": "static/img/portafolio/sweetstevia.png",
          "mtimeMs": 1606277809858.8171,
          "date": "2021-03-11T20:05:40.068Z"
        },
        {
          "file": "static/img/portafolio/tapa-carpeta.png",
          "mtimeMs": 1606277809859.815,
          "date": "2021-03-11T20:05:41.494Z"
        },
        {
          "file": "static/img/portafolio/tarjetas.png",
          "mtimeMs": 1606277809859.815,
          "date": "2021-03-11T20:05:42.838Z"
        },
        {
          "file": "static/img/portafolio/web-grainsperu.png",
          "mtimeMs": 1606277809860.812,
          "date": "2021-03-11T20:05:44.352Z"
        },
        {
          "file": "static/js/jquery.smooth-scroll.min.js",
          "mtimeMs": 1606277809861.8086,
          "date": "2021-03-11T20:05:45.442Z"
        },
        {
          "file": "static/js/scroll.js",
          "mtimeMs": 1606277809862.478,
          "date": "2021-03-11T20:05:46.515Z"
        },
        {
          "file": "static/js/waypoints.min.js",
          "mtimeMs": 1606277809862.478,
          "date": "2021-03-11T20:05:47.625Z"
        },
        {
          "file": "frontend-developer/favicon.ico",
          "mtimeMs": 1606277809783.7712,
          "date": "2021-03-11T20:04:15.501Z"
        },
        {
          "file": "frontend-developer/static/img/contact.jpg",
          "mtimeMs": 1615492273269.169,
          "date": "2021-03-11T20:04:27.924Z"
        },
        {
          "file": "frontend-developer/static/img/iam.jpg",
          "mtimeMs": 1615492246180.8374,
          "date": "2021-03-11T20:04:30.733Z"
        },
        {
          "file": "frontend-developer/static/img/services.jpg",
          "mtimeMs": 1615492258650.3237,
          "date": "2021-03-11T20:04:37.412Z"
        },
        {
          "file": "frontend-developer/static/img/top-back.jpg",
          "mtimeMs": 1615396799154.3372,
          "date": "2021-03-11T20:04:38.918Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 100
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 100
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "designer/src/stylus/main.styl",
        "config": {
          "customOutput": "designer\\static\\css\\main.css"
        }
      },
      {
        "file": "frontend-developer/src/stylus/main.styl",
        "config": {
          "customOutput": "frontend-developer\\static\\css\\main.css"
        }
      },
      {
        "file": "src/stylus/main.styl",
        "config": {
          "customOutput": "static\\css\\main.css"
        }
      }
    ]
  }
}
