{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "http://localhost",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "node_modules",
          "Prepros Export",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "public_html",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".gitattributes",
          "mtimeMs": 1600532031553.144,
          "date": "2020-09-21T01:36:08.182Z"
        },
        {
          "file": ".htaccess",
          "mtimeMs": 1600532031554.5933,
          "date": "2020-09-21T01:36:10.178Z"
        },
        {
          "file": "404.html",
          "mtimeMs": 1600652748589.483,
          "date": "2020-09-21T01:46:26.004Z"
        },
        {
          "file": "LICENSE",
          "mtimeMs": 1600532031555.338,
          "date": "2020-09-21T01:36:13.495Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1600532031555.9167,
          "date": "2020-09-21T01:36:15.021Z"
        },
        {
          "file": "ads.txt",
          "mtimeMs": 1600532031556.8433,
          "date": "2020-09-21T01:36:16.736Z"
        },
        {
          "file": "apple-touch-icon.png",
          "mtimeMs": 1600532031556.9922,
          "date": "2020-09-21T01:36:18.284Z"
        },
        {
          "file": "browserconfig.xml",
          "mtimeMs": 1600532031557.8416,
          "date": "2020-09-21T01:36:20.021Z"
        },
        {
          "file": "contacto.html",
          "mtimeMs": 1600532031559.0225,
          "date": "2020-09-21T01:36:21.544Z"
        },
        {
          "file": "crossdomain.xml",
          "mtimeMs": 1600532031559.196,
          "date": "2020-09-21T01:36:23.156Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1600532031582.2263,
          "date": "2020-09-21T01:36:24.709Z"
        },
        {
          "file": "humans.txt",
          "mtimeMs": 1600532031596.5068,
          "date": "2020-09-21T01:36:26.955Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1600532031597.1746,
          "date": "2020-09-21T01:36:28.772Z"
        },
        {
          "file": "pinterest-5f0cf.html",
          "mtimeMs": 1600532031597.844,
          "date": "2020-09-21T01:36:30.435Z"
        },
        {
          "file": "portafolio.html",
          "mtimeMs": 1600532031598.517,
          "date": "2020-09-21T01:36:32.211Z"
        },
        {
          "file": "prepros.config",
          "mtimeMs": 1600652786033.8303,
          "date": "2020-09-21T01:46:28.002Z"
        },
        {
          "file": "presentacion.html",
          "mtimeMs": 1600532031599.8306,
          "date": "2020-09-21T01:36:36.009Z"
        },
        {
          "file": "robots.txt",
          "mtimeMs": 1600532031600.3806,
          "date": "2020-09-21T01:36:37.820Z"
        },
        {
          "file": "sitemap.xml",
          "mtimeMs": 1600532031600.4722,
          "date": "2020-09-21T01:36:39.702Z"
        },
        {
          "file": "tile-wide.png",
          "mtimeMs": 1600532031641.0203,
          "date": "2020-09-21T01:36:41.724Z"
        },
        {
          "file": "tile.png",
          "mtimeMs": 1600532031642.0176,
          "date": "2020-09-21T01:36:43.516Z"
        },
        {
          "file": ".git/FETCH_HEAD",
          "mtimeMs": 1600652650632.7761,
          "date": "2020-09-21T01:46:31.132Z"
        },
        {
          "file": ".git/HEAD",
          "mtimeMs": 1600532031530.348,
          "date": "2020-09-21T01:36:47.051Z"
        },
        {
          "file": ".git/config",
          "mtimeMs": 1600532031541.8245,
          "date": "2020-09-21T01:36:48.816Z"
        },
        {
          "file": ".git/description",
          "mtimeMs": 1600532019865.607,
          "date": "2020-09-21T01:36:50.674Z"
        },
        {
          "file": ".git/index",
          "mtimeMs": 1600652640974.8457,
          "date": "2020-09-21T01:46:32.624Z"
        },
        {
          "file": ".git/packed-refs",
          "mtimeMs": 1600532031520.319,
          "date": "2020-09-21T01:36:54.399Z"
        },
        {
          "file": ".git/hooks/applypatch-msg.sample",
          "mtimeMs": 1600532019866.0488,
          "date": "2020-09-21T01:36:56.673Z"
        },
        {
          "file": ".git/hooks/commit-msg.sample",
          "mtimeMs": 1600532019867.0403,
          "date": "2020-09-21T01:36:58.627Z"
        },
        {
          "file": ".git/hooks/fsmonitor-watchman.sample",
          "mtimeMs": 1600532019868.0376,
          "date": "2020-09-21T01:37:00.796Z"
        },
        {
          "file": ".git/hooks/post-update.sample",
          "mtimeMs": 1600532019868.0376,
          "date": "2020-09-21T01:37:02.522Z"
        },
        {
          "file": ".git/hooks/pre-applypatch.sample",
          "mtimeMs": 1600532019870.0432,
          "date": "2020-09-21T01:37:04.703Z"
        },
        {
          "file": ".git/hooks/pre-commit.sample",
          "mtimeMs": 1600532019871.1382,
          "date": "2020-09-21T01:37:06.799Z"
        },
        {
          "file": ".git/hooks/pre-merge-commit.sample",
          "mtimeMs": 1600532019872.0688,
          "date": "2020-09-21T01:37:09.073Z"
        },
        {
          "file": ".git/hooks/pre-push.sample",
          "mtimeMs": 1600532019873.5344,
          "date": "2020-09-21T01:37:11.361Z"
        },
        {
          "file": ".git/hooks/pre-rebase.sample",
          "mtimeMs": 1600532019874.0222,
          "date": "2020-09-21T01:37:13.613Z"
        },
        {
          "file": ".git/hooks/pre-receive.sample",
          "mtimeMs": 1600532019875.0193,
          "date": "2020-09-21T01:37:15.918Z"
        },
        {
          "file": ".git/hooks/prepare-commit-msg.sample",
          "mtimeMs": 1600532019875.0193,
          "date": "2020-09-21T01:37:18.208Z"
        },
        {
          "file": ".git/hooks/update.sample",
          "mtimeMs": 1600532019876.0293,
          "date": "2020-09-21T01:37:20.567Z"
        },
        {
          "file": ".git/info/exclude",
          "mtimeMs": 1600532019877.0322,
          "date": "2020-09-21T01:37:22.915Z"
        },
        {
          "file": ".git/logs/HEAD",
          "mtimeMs": 1600652641046.6533,
          "date": "2020-09-21T01:46:34.573Z"
        },
        {
          "file": ".git/logs/refs/heads/master",
          "mtimeMs": 1600652641047.6548,
          "date": "2020-09-21T01:46:36.566Z"
        },
        {
          "file": ".git/logs/refs/remotes/origin/HEAD",
          "mtimeMs": 1600532031529.3027,
          "date": "2020-09-21T01:37:30.731Z"
        },
        {
          "file": ".git/objects/pack/pack-216729006e48aa4111811fe7a1bef879c6f6a515.idx",
          "mtimeMs": 1600532031434.6626,
          "date": "2020-09-21T01:37:33.266Z"
        },
        {
          "file": ".git/objects/pack/pack-216729006e48aa4111811fe7a1bef879c6f6a515.pack",
          "mtimeMs": 1600532031434.0981,
          "date": "2020-09-21T01:37:41.143Z"
        },
        {
          "file": ".git/refs/heads/master",
          "mtimeMs": 1600652641046.6533,
          "date": "2020-09-21T01:47:11.134Z"
        },
        {
          "file": ".git/refs/remotes/origin/HEAD",
          "mtimeMs": 1600532031529.4446,
          "date": "2020-09-21T01:37:46.396Z"
        },
        {
          "file": "designer/.htaccess",
          "mtimeMs": 1600532031560.4282,
          "date": "2020-09-21T01:37:48.618Z"
        },
        {
          "file": "designer/404.html",
          "mtimeMs": 1600532031560.833,
          "date": "2020-09-21T01:37:50.345Z"
        },
        {
          "file": "designer/apple-touch-icon.png",
          "mtimeMs": 1600532031561.6152,
          "date": "2020-09-21T01:37:52.161Z"
        },
        {
          "file": "designer/browserconfig.xml",
          "mtimeMs": 1600532031563.1257,
          "date": "2020-09-21T01:37:54.156Z"
        },
        {
          "file": "designer/crossdomain.xml",
          "mtimeMs": 1600532031563.392,
          "date": "2020-09-21T01:37:56.141Z"
        },
        {
          "file": "designer/favicon.ico",
          "mtimeMs": 1600532031564.4143,
          "date": "2020-09-21T01:37:57.939Z"
        },
        {
          "file": "designer/humans.txt",
          "mtimeMs": 1600532031564.8655,
          "date": "2020-09-21T01:37:59.773Z"
        },
        {
          "file": "designer/index.html",
          "mtimeMs": 1600532031565.3652,
          "date": "2020-09-21T01:38:01.715Z"
        },
        {
          "file": "designer/recomendacion.html",
          "mtimeMs": 1600532031565.847,
          "date": "2020-09-21T01:38:03.870Z"
        },
        {
          "file": "designer/robots.txt",
          "mtimeMs": 1600532031565.9949,
          "date": "2020-09-21T01:38:06.202Z"
        },
        {
          "file": "designer/sitemap.xml",
          "mtimeMs": 1600532031566.813,
          "date": "2020-09-21T01:38:08.397Z"
        },
        {
          "file": "designer/tile-wide.png",
          "mtimeMs": 1600532031581.0396,
          "date": "2020-09-21T01:38:10.481Z"
        },
        {
          "file": "designer/tile.png",
          "mtimeMs": 1600532031581.6038,
          "date": "2020-09-21T01:38:12.491Z"
        },
        {
          "file": "designer/src/stylus/footer.styl",
          "mtimeMs": 1600532031568.3286,
          "date": "2020-09-21T01:38:15.520Z"
        },
        {
          "file": "designer/src/stylus/main.styl",
          "mtimeMs": 1600532031569.0398,
          "date": "2020-09-21T01:38:17.861Z"
        },
        {
          "file": "designer/src/stylus/reset.styl",
          "mtimeMs": 1600532031569.3284,
          "date": "2020-09-21T01:38:20.275Z"
        },
        {
          "file": "designer/static/css/main.css",
          "mtimeMs": 1600532031570.6465,
          "date": "2020-09-21T01:38:22.541Z"
        },
        {
          "file": "designer/static/img/brave-logotype-dark.svg",
          "mtimeMs": 1600532031571.4314,
          "date": "2020-09-21T01:38:25.053Z"
        },
        {
          "file": "designer/static/img/edgarcornejo.svg",
          "mtimeMs": 1600532031571.6833,
          "date": "2020-09-21T01:38:27.170Z"
        },
        {
          "file": "designer/static/img/icon-close.svg",
          "mtimeMs": 1600532031573.0298,
          "date": "2020-09-21T01:38:30.531Z"
        },
        {
          "file": "designer/static/img/icon-hamburger.svg",
          "mtimeMs": 1600532031573.6187,
          "date": "2020-09-21T01:38:32.779Z"
        },
        {
          "file": "designer/static/img/icon-social.svg",
          "mtimeMs": 1600532031574.0293,
          "date": "2020-09-21T01:38:35.309Z"
        },
        {
          "file": "designer/static/img/mamp.png",
          "mtimeMs": 1600532031575.042,
          "date": "2020-09-21T01:38:39.110Z"
        },
        {
          "file": "designer/static/img/prepros.png",
          "mtimeMs": 1600532031576.0508,
          "date": "2020-09-21T01:38:41.792Z"
        },
        {
          "file": "designer/static/img/restream.png",
          "mtimeMs": 1600532031577.0537,
          "date": "2020-09-21T01:38:44.179Z"
        },
        {
          "file": "designer/static/img/servicio.png",
          "mtimeMs": 1600532031578.253,
          "date": "2020-09-21T01:38:46.791Z"
        },
        {
          "file": "designer/static/img/servicios.svg",
          "mtimeMs": 1600532031578.9307,
          "date": "2020-09-21T01:38:51.033Z"
        },
        {
          "file": "designer/static/img/sprite.png",
          "mtimeMs": 1600532031579.8638,
          "date": "2020-09-21T01:38:57.869Z"
        },
        {
          "file": "designer/static/js/sensitive.js",
          "mtimeMs": 1600532031580.54,
          "date": "2020-09-21T01:39:00.953Z"
        },
        {
          "file": "frontend-developer/.htaccess",
          "mtimeMs": 1600532031583.128,
          "date": "2020-09-21T01:39:03.622Z"
        },
        {
          "file": "frontend-developer/404.html",
          "mtimeMs": 1600532031583.7197,
          "date": "2020-09-21T01:39:05.513Z"
        },
        {
          "file": "frontend-developer/apple-touch-icon.png",
          "mtimeMs": 1600532031584.032,
          "date": "2020-09-21T01:39:07.195Z"
        },
        {
          "file": "frontend-developer/browserconfig.xml",
          "mtimeMs": 1600532031584.5386,
          "date": "2020-09-21T01:39:08.791Z"
        },
        {
          "file": "frontend-developer/crossdomain.xml",
          "mtimeMs": 1600532031585.032,
          "date": "2020-09-21T01:39:10.361Z"
        },
        {
          "file": "frontend-developer/humans.txt",
          "mtimeMs": 1600532031586.0796,
          "date": "2020-09-21T01:39:16.833Z"
        },
        {
          "file": "frontend-developer/index.html",
          "mtimeMs": 1600621168296.3008,
          "date": "2020-09-21T01:39:18.593Z"
        },
        {
          "file": "frontend-developer/robots.txt",
          "mtimeMs": 1600532031587.0234,
          "date": "2020-09-21T01:39:20.368Z"
        },
        {
          "file": "frontend-developer/tile-wide.png",
          "mtimeMs": 1600532031595.4724,
          "date": "2020-09-21T01:39:22.853Z"
        },
        {
          "file": "frontend-developer/tile.png",
          "mtimeMs": 1600532031595.5657,
          "date": "2020-09-21T01:39:25.633Z"
        },
        {
          "file": "frontend-developer/src/stylus/header.styl",
          "mtimeMs": 1600621836079.1394,
          "date": "2020-09-21T01:39:29.656Z"
        },
        {
          "file": "frontend-developer/src/stylus/helper.styl",
          "mtimeMs": 1600532031588.3528,
          "date": "2020-09-21T01:39:33.666Z"
        },
        {
          "file": "frontend-developer/src/stylus/main.styl",
          "mtimeMs": 1600621326193.7585,
          "date": "2020-09-21T01:39:35.803Z"
        },
        {
          "file": "frontend-developer/src/stylus/reset.styl",
          "mtimeMs": 1600621440456.0144,
          "date": "2020-09-21T01:39:39.051Z"
        },
        {
          "file": "frontend-developer/static/css/main.css",
          "mtimeMs": 1600621836837.0688,
          "date": "2020-09-21T01:39:41.538Z"
        },
        {
          "file": "frontend-developer/static/img/edgarcornejo.svg",
          "mtimeMs": 1600532031591.951,
          "date": "2020-09-21T01:39:44.185Z"
        },
        {
          "file": "frontend-developer/static/img/icon-close.svg",
          "mtimeMs": 1600532031592.9546,
          "date": "2020-09-21T01:39:46.945Z"
        },
        {
          "file": "frontend-developer/static/img/icon-hamburger.svg",
          "mtimeMs": 1600532031592.9546,
          "date": "2020-09-21T01:39:50.273Z"
        },
        {
          "file": "frontend-developer/static/img/icon-mail.svg",
          "mtimeMs": 1600532031593.9458,
          "date": "2020-09-21T01:39:53.206Z"
        },
        {
          "file": "frontend-developer/static/img/icon-tel.svg",
          "mtimeMs": 1600532031594.9438,
          "date": "2020-09-21T01:39:55.738Z"
        },
        {
          "file": "src/stylus/footer.styl",
          "mtimeMs": 1600532031601.4448,
          "date": "2020-09-21T01:39:58.494Z"
        },
        {
          "file": "src/stylus/main-menu.styl",
          "mtimeMs": 1600532031602.0881,
          "date": "2020-09-21T01:40:01.196Z"
        },
        {
          "file": "src/stylus/main.styl",
          "mtimeMs": 1600532031602.7473,
          "date": "2020-09-21T01:40:04.260Z"
        },
        {
          "file": "src/stylus/reset.styl",
          "mtimeMs": 1600532031603.4285,
          "date": "2020-09-21T01:40:06.904Z"
        },
        {
          "file": "src/stylus/second-head.styl",
          "mtimeMs": 1600532031603.9136,
          "date": "2020-09-21T01:40:09.767Z"
        },
        {
          "file": "static/css/main.css",
          "mtimeMs": 1600540312529.581,
          "date": "2020-09-21T01:40:12.494Z"
        },
        {
          "file": "static/img/edgarcornejo.svg",
          "mtimeMs": 1600532031605.7815,
          "date": "2020-09-21T01:40:15.327Z"
        },
        {
          "file": "static/img/icon-close.svg",
          "mtimeMs": 1600532031605.9463,
          "date": "2020-09-21T01:40:18.341Z"
        },
        {
          "file": "static/img/icon-hamburger.svg",
          "mtimeMs": 1600532031606.3474,
          "date": "2020-09-21T01:40:20.863Z"
        },
        {
          "file": "static/img/icon-social.svg",
          "mtimeMs": 1600532031606.9373,
          "date": "2020-09-21T01:40:23.566Z"
        },
        {
          "file": "static/img/portafolio/3bingenieros.png",
          "mtimeMs": 1600532031609.157,
          "date": "2020-09-21T01:40:27.484Z"
        },
        {
          "file": "static/img/portafolio/afiche.png",
          "mtimeMs": 1600532031609.9333,
          "date": "2020-09-21T01:40:30.865Z"
        },
        {
          "file": "static/img/portafolio/afiche2.png",
          "mtimeMs": 1600532031610.8276,
          "date": "2020-09-21T01:40:33.296Z"
        },
        {
          "file": "static/img/portafolio/argentine-tango-usa.png",
          "mtimeMs": 1600532031611.8406,
          "date": "2020-09-21T01:40:35.927Z"
        },
        {
          "file": "static/img/portafolio/blogedgar.png",
          "mtimeMs": 1600532031612.5847,
          "date": "2020-09-21T01:40:38.307Z"
        },
        {
          "file": "static/img/portafolio/bodega-casaverde.png",
          "mtimeMs": 1600532031613.1267,
          "date": "2020-09-21T01:40:40.658Z"
        },
        {
          "file": "static/img/portafolio/brohurem.png",
          "mtimeMs": 1600532031613.6035,
          "date": "2020-09-21T01:40:43.581Z"
        },
        {
          "file": "static/img/portafolio/edgar-cornejo.png",
          "mtimeMs": 1600532031614.3225,
          "date": "2020-09-21T01:40:45.792Z"
        },
        {
          "file": "static/img/portafolio/excellencecarrelage.png",
          "mtimeMs": 1600532031614.7212,
          "date": "2020-09-21T01:40:48.549Z"
        },
        {
          "file": "static/img/portafolio/excellencerenovation.png",
          "mtimeMs": 1600532031615.7317,
          "date": "2020-09-21T01:40:51.292Z"
        },
        {
          "file": "static/img/portafolio/fabricadebanderas.png",
          "mtimeMs": 1600532031616.4358,
          "date": "2020-09-21T01:40:53.980Z"
        },
        {
          "file": "static/img/portafolio/flayer-argentine-tango-usa.png",
          "mtimeMs": 1600532031617.255,
          "date": "2020-09-21T01:40:56.384Z"
        },
        {
          "file": "static/img/portafolio/fotosgratis.png",
          "mtimeMs": 1600532031617.9165,
          "date": "2020-09-21T01:40:58.652Z"
        },
        {
          "file": "static/img/portafolio/fotosgratislogo.png",
          "mtimeMs": 1600532031617.9165,
          "date": "2020-09-21T01:41:00.953Z"
        },
        {
          "file": "static/img/portafolio/fotosgratisweb.png",
          "mtimeMs": 1600532031619.127,
          "date": "2020-09-21T01:41:03.357Z"
        },
        {
          "file": "static/img/portafolio/ifs.png",
          "mtimeMs": 1600532031620.0415,
          "date": "2020-09-21T01:41:05.901Z"
        },
        {
          "file": "static/img/portafolio/indoor.png",
          "mtimeMs": 1600532031620.7097,
          "date": "2020-09-21T01:41:08.323Z"
        },
        {
          "file": "static/img/portafolio/integrate.png",
          "mtimeMs": 1600532031621.4036,
          "date": "2020-09-21T01:41:10.659Z"
        },
        {
          "file": "static/img/portafolio/jarvaxengineering.png",
          "mtimeMs": 1600532031621.9563,
          "date": "2020-09-21T01:41:13.204Z"
        },
        {
          "file": "static/img/portafolio/lineapublicitaria.png",
          "mtimeMs": 1600532031623.4495,
          "date": "2020-09-21T01:41:15.613Z"
        },
        {
          "file": "static/img/portafolio/logotipo-grainsperu.png",
          "mtimeMs": 1600532031623.898,
          "date": "2020-09-21T01:41:17.814Z"
        },
        {
          "file": "static/img/portafolio/logotipos.png",
          "mtimeMs": 1600532031625.0227,
          "date": "2020-09-21T01:41:20.964Z"
        },
        {
          "file": "static/img/portafolio/marketingtv.png",
          "mtimeMs": 1600532031625.3064,
          "date": "2020-09-21T01:41:23.127Z"
        },
        {
          "file": "static/img/portafolio/minilink-soluciones-logo.png",
          "mtimeMs": 1600532031625.9023,
          "date": "2020-09-21T01:41:25.116Z"
        },
        {
          "file": "static/img/portafolio/minilink-soluciones.png",
          "mtimeMs": 1600532031626.8281,
          "date": "2020-09-21T01:41:27.411Z"
        },
        {
          "file": "static/img/portafolio/minilink.png",
          "mtimeMs": 1600532031627.5469,
          "date": "2020-09-21T01:41:30.154Z"
        },
        {
          "file": "static/img/portafolio/minimarket-lucy-web.png",
          "mtimeMs": 1600532031628.119,
          "date": "2020-09-21T01:41:32.413Z"
        },
        {
          "file": "static/img/portafolio/minimarket-lucy.png",
          "mtimeMs": 1600532031628.2864,
          "date": "2020-09-21T01:41:34.582Z"
        },
        {
          "file": "static/img/portafolio/musquy.png",
          "mtimeMs": 1600532031629.5193,
          "date": "2020-09-21T01:41:37.422Z"
        },
        {
          "file": "static/img/portafolio/navedepapel-logo.png",
          "mtimeMs": 1600532031630.265,
          "date": "2020-09-21T01:41:39.701Z"
        },
        {
          "file": "static/img/portafolio/navedepapel.png",
          "mtimeMs": 1600532031630.9734,
          "date": "2020-09-21T01:41:42.114Z"
        },
        {
          "file": "static/img/portafolio/nobbytex.png",
          "mtimeMs": 1600532031631.1438,
          "date": "2020-09-21T01:41:44.243Z"
        },
        {
          "file": "static/img/portafolio/postal-tango.png",
          "mtimeMs": 1600532031633.191,
          "date": "2020-09-21T01:41:46.950Z"
        },
        {
          "file": "static/img/portafolio/renova-design-logotipo.png",
          "mtimeMs": 1600532031633.2942,
          "date": "2020-09-21T01:41:49.008Z"
        },
        {
          "file": "static/img/portafolio/renova-design.png",
          "mtimeMs": 1600532031633.792,
          "date": "2020-09-21T01:41:51.153Z"
        },
        {
          "file": "static/img/portafolio/renovadesign.png",
          "mtimeMs": 1600532031635.0898,
          "date": "2020-09-21T01:41:54.123Z"
        },
        {
          "file": "static/img/portafolio/sweetstevia.png",
          "mtimeMs": 1600532031636.0393,
          "date": "2020-09-21T01:41:57.039Z"
        },
        {
          "file": "static/img/portafolio/tapa-carpeta.png",
          "mtimeMs": 1600532031636.746,
          "date": "2020-09-21T01:41:59.447Z"
        },
        {
          "file": "static/img/portafolio/tarjetas.png",
          "mtimeMs": 1600532031637.7756,
          "date": "2020-09-21T01:42:01.909Z"
        },
        {
          "file": "static/img/portafolio/web-grainsperu.png",
          "mtimeMs": 1600532031638.0745,
          "date": "2020-09-21T01:42:04.645Z"
        },
        {
          "file": "static/js/jquery.smooth-scroll.min.js",
          "mtimeMs": 1600532031639.65,
          "date": "2020-09-21T01:42:06.461Z"
        },
        {
          "file": "static/js/scroll.js",
          "mtimeMs": 1600532031640.0227,
          "date": "2020-09-21T01:42:08.307Z"
        },
        {
          "file": "static/js/waypoints.min.js",
          "mtimeMs": 1600532031641.0203,
          "date": "2020-09-21T01:42:10.092Z"
        },
        {
          "file": ".git/COMMIT_EDITMSG",
          "mtimeMs": 1600652640983.8206,
          "date": "2020-09-21T01:46:29.606Z"
        },
        {
          "file": ".git/logs/refs/remotes/origin/master",
          "mtimeMs": 1600652649046.4927,
          "date": "2020-09-21T01:46:38.706Z"
        },
        {
          "file": ".git/objects/25/60f63fe5135e087ad1f32bed5a76bdf9d7a5ec",
          "mtimeMs": 1600652640851.5203,
          "date": "2020-09-21T01:46:40.584Z"
        },
        {
          "file": ".git/objects/2d/cba47e5dd42c28858ed06f37101b45f596aa9a",
          "mtimeMs": 1600652640870.4165,
          "date": "2020-09-21T01:46:42.386Z"
        },
        {
          "file": ".git/objects/3a/9ab07494fae9d971e2562b0bda0bf5981f6c1d",
          "mtimeMs": 1600652640952.172,
          "date": "2020-09-21T01:46:44.278Z"
        },
        {
          "file": ".git/objects/3a/f3ad887fb3a6dcaff34988058c94c97560c7dc",
          "mtimeMs": 1600652640954.8984,
          "date": "2020-09-21T01:46:46.157Z"
        },
        {
          "file": ".git/objects/3d/72d2645f5df164d3f49b565537c2935c6a1dff",
          "mtimeMs": 1600652640863.644,
          "date": "2020-09-21T01:46:47.989Z"
        },
        {
          "file": ".git/objects/3f/682a760b6002fee080a527ba043f56d9a2cec6",
          "mtimeMs": 1600652640962.8772,
          "date": "2020-09-21T01:46:49.908Z"
        },
        {
          "file": ".git/objects/46/4f956896ef5fc6504d6819e50dd1e366ad8a33",
          "mtimeMs": 1600652640867.6372,
          "date": "2020-09-21T01:46:51.958Z"
        },
        {
          "file": ".git/objects/5f/93a913f8f9d3e8e1b863e5a07da6c59a229929",
          "mtimeMs": 1600652640972.8503,
          "date": "2020-09-21T01:46:54.058Z"
        },
        {
          "file": ".git/objects/79/2d14cdb44cfba33a6bee771788224ba072af62",
          "mtimeMs": 1600652640967.864,
          "date": "2020-09-21T01:46:55.929Z"
        },
        {
          "file": ".git/objects/79/3a6dac7f99c6cf0215e45a42c432dea3e9dbeb",
          "mtimeMs": 1600652641025.7102,
          "date": "2020-09-21T01:46:57.882Z"
        },
        {
          "file": ".git/objects/aa/9345cfce27329e772f518b8181321699461ddb",
          "mtimeMs": 1600652640965.869,
          "date": "2020-09-21T01:46:59.831Z"
        },
        {
          "file": ".git/objects/b4/1bb39b58080ad99b7b596cc205d904a0295bc5",
          "mtimeMs": 1600652640969.858,
          "date": "2020-09-21T01:47:01.759Z"
        },
        {
          "file": ".git/objects/c7/3c27f611f4c692bd5d54491cc863b18fbaa5c6",
          "mtimeMs": 1600652640853.5234,
          "date": "2020-09-21T01:47:03.633Z"
        },
        {
          "file": ".git/objects/ca/942c621f823e3af6dd8392c96ae935e64c468e",
          "mtimeMs": 1600652640860.6533,
          "date": "2020-09-21T01:47:05.445Z"
        },
        {
          "file": ".git/objects/e1/97ce72b8177700a24371059af602df041775c8",
          "mtimeMs": 1600652640957.8909,
          "date": "2020-09-21T01:47:07.370Z"
        },
        {
          "file": ".git/objects/e3/298f5afabc2b6e8ed143770202a55965d9203e",
          "mtimeMs": 1600652640857.66,
          "date": "2020-09-21T01:47:09.320Z"
        },
        {
          "file": ".git/refs/remotes/origin/master",
          "mtimeMs": 1600652649044.4941,
          "date": "2020-09-21T01:47:13.126Z"
        },
        {
          "file": "frontend-developer/favicon.ico",
          "mtimeMs": 1600532031585.9631,
          "date": "2020-09-21T01:47:14.469Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 100
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 100
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "designer/src/stylus/main.styl",
        "config": {
          "customOutput": "designer\\static\\css\\main.css"
        }
      },
      {
        "file": "frontend-developer/src/stylus/main.styl",
        "config": {
          "customOutput": "frontend-developer\\static\\css\\main.css"
        }
      },
      {
        "file": "src/stylus/main.styl",
        "config": {
          "customOutput": "static\\css\\main.css"
        }
      }
    ]
  }
}
