//Menu Principal
#topnav
  border-top solid 2px var(--eCeleste)
  height 3rem
  text-align center
  width 100%
  ul
    display flex
    height 3rem
    margin 0 auto
    max-width 1300px

#main_nav
  li
    width 20%
    line-height 5rem
    a
      cursor pointer
      font-size 1.4rem
      letter-spacing 1px
      text-transform uppercase
      &:hover
        font-weight bold