/*Menu otras paginas*/
#topnav2
  height 80px
  width 100%
  ul
    display flex
    height 80px
    margin 0 auto
    max-width 1300px

#main_nav2
  li
    width 20%
    a
      cursor pointer
      display block
      font-size 1.4rem
      font-weight lighter
      line-height 80px
      text-align center
    &.change a
      color var(--eCeleste)
    :hover
      color var(--eAzul)
    .selector
      border-top solid 5px var(--eAzul)
      color var(--eAzul)
      font-size 1.5rem
      font-weight normal

.selector
  &:after
    border-left 8px solid transparent
    border-right 8px solid transparent
    border-top 8px solid var(--eAzul)
    content ""
    display block
    margin -5px auto
    width 0

/*Navegacion por pagina*/
#navigation-per-page
  left 100px
  margin-top 6rem
  position fixed
  width 180px
  ul
    height auto
    width 100%
  li
    font-size 1.4rem
    font-weight lighter
    line-height 3rem
    text-align right
  a
    &.current
      color var(--eAzul)
      font-weight normal
      &:after
        border-bottom 5px solid transparent
        border-left 5px solid var(--eAzul)
        border-top 5px solid transparent
        content ""
        display inline-block
        margin-left 5px
        width 0

.isStuck
  z-index 80