/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
  margin 0
  padding 0
  border 0
  font-size 100%
  vertical-align top
  outline 0
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  text-rendering optimizeLegibility

html
  width 100%
  height 100%

body
  width 100%
  height 100%
  font-size 16px
  font-family "Roboto", Helvetica, sans-serif

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection
  background #b3d4fc
  text-shadow none

::selection
  background #b3d4fc
  text-shadow none

/*
 * A better looking default horizontal rule
 */
hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

/*
 * Remove default fieldset styles.
 */
fieldset
  border 0
  margin 0
  padding 0

/*
 * Allow only vertical resizing of textareas.
 */
textarea
  resize vertical

@-webkit-viewport
  width device-width
@-moz-viewport
  width device-width
@-ms-viewport
  width device-width
@-o-viewport
  width device-width
@viewport
  width device-width

/*Paleta Color*/
web-c0 = #E6FFFF
web-c1 = #A0EAEB
web-c2 = #6AC8C7
web-c3 = #0FAAA7
web-c4 = #0D8796
web-c5 = #262626

/*Transiciones*/
.anin-rapido
  -webkit-transition all 0.2s ease-out
  -moz-transition all 0.2s ease-out
  -o-transition all 0.2s ease-out
  -ms-transition all 0.2s ease-out
  transition all 0.2s ease-out

.anin-normal
  -webkit-transition all 0.5s ease-out
  -moz-transition all 0.5s ease-out
  -o-transition all 0.5s ease-out
  -ms-transition all 0.5s ease-out
  transition all 0.5s ease-out

.anin-lento
  -webkit-transition all 1s ease-out
  -moz-transition all 1s ease-out
  -o-transition all 1s ease-out
  -ms-transition all 1s ease-out
  transition all 1s ease-out

/*Principal*/
#contenedor
  height 100%

#cabecera
  height 100%
  background web-c4
  padding 30% 0 0 10%
  h1
    font-family 'Poiret One', Helvetica, sans-serif
    font-size 6em
    line-height 1.2em
    font-weight lighter
    color web-c2
  h2
    font-size 3em
    font-weight lighter
    color web-c1



/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden
  display none !important

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible
  visibility hidden

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix:after
  clear both

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*@media screen and (max-width:1366px)

@media screen and (max-width:1024px)

@media screen and (max-width:768px)*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print
  *,
  *:before,
  *:after
    background transparent !important
    color #000 !important
    box-shadow none !important
    text-shadow none !important

  a,
  a:visited
    text-decoration underline

  a[href]:after
    content " (" attr(href) ")"

  abbr[title]:after
    content " (" attr(title) ")"

  a[href^="#"]:after,
  a[href^="javascript:"]:after
    content: ""

  pre,
  blockquote
    border 1px solid #999
    page-break-inside avoid

  thead
    display table-header-group

  tr,
  img
    page-break-inside avoid

  img
    max-width 100% !important

  p,
  h2,
  h3
    orphans 3
    widows 3

  h2,
  h3
    page-break-after avoid