/*Nav Footer*/
#nav-footer ul
  display flex
  align-items center
  flex-wrap wrap
  padding-left 2em
  li
    font-size 14px
    text-transform uppercase
    text-align center
    padding-right 1em
    text-indent 1em
    border-right 1px solid var(--greenPure)
    list-style none
  li:last-child
    border none
  a
    color var(--greenPure)
    -webkit-transition all 0.2s ease-out
    -moz-transition all 0.2s ease-out
    -o-transition all 0.2s ease-out
    -ms-transition all 0.2s ease-out
    transition all 0.2s ease-out
    &:hover
      color #4A4A4A
  p
    color var(--greenPure)