#cabecera
  #wrap-logo-nav
    padding-top 3rem
    display flex
    align-items center
  #logo
    width 18.5%
    height 80px
    display flex
    align-items center
    justify-content flex-end
    img 
      width auto/9
      max-width 90%
      vertical-align center
  nav
    padding-left 2%
    ul
      max-width 1024px 
      width 1024px
      display flex
    li
      width 25%
      list-style none