/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "reset.styl"
@import "helper.styl"

:root
  font-size 16px
  --White #FFFFFF

/*Principal*/
#contenedor
  height 100%

#cabecera
  height 100vh
  width 100vw
  background rgb(78,20,73)
  background linear-gradient(0deg, rgba(78,20,73,1) 0%, rgba(144,37,133,1) 100%)
  color var(--White)
  font-family 'Poiret One', Helvetica, sans-serif
  display flex
  hgroup
    max-width 90%
    h1
      font-size 5rem
      font-weight lighter
      letter-spacing -2px
    h2
      text-transform uppercase
      font-size 1rem
      font-weight lighter
      padding-top 1rem
      letter-spacing 15px



