/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "reset.styl"
@import "helper.styl"
@import "header.styl"

:root
  font-size 16px
  --White #FFFFFF

/*Principal*/
#contenedor
  height 100%

#cabecera
  height 100vh
  width 100%
  background rgb(205,38,252);
  background linear-gradient(-45deg, rgba(205,38,252,1) 0%, rgba(140,62,244,1) 53%, rgba(145,132,250,1) 100%)
  color var(--White)
  font-family 'Poiret One', Helvetica, sans-serif
  #wrap-hgroup
    display flex
    justify-content flex-end
  hgroup
    padding-top 30rem
    width 82%
    text-align left
    h1
      font-size 5rem
      letter-spacing -2px
    h2
      text-transform uppercase
      font-size 2rem
      font-weight lighter
      padding-top 0.5rem
      letter-spacing 2px