@import "reset.styl"
@import "footer.styl"

/*Principal*/
body
  width 100%
  color #FFF
  font-size 16px
  font-family 'Open Sans',Helvetica,Arial,sans-serif
  background-color var(hardWhite)

#main-content
  width 100%
  height auto
  margin 0 auto

/*Logotipo*/
#logo
  background url(../img/edgarcornejo.svg) no-repeat 50% 45% var(--greenMate)
  background-size 40%
  min-height 80px
  max-height 80px
  width 100%
  max-width 200px
  &:after
    display block
    content ''
    position relative
    left 100%
    width 0
    height 0
    border-top 80px solid var(--greenMate)
    border-right 30px solid transparent

.logo
  transition all 0.2s ease-out
  color var(--greenPure)
  &.scroll
    color transparent !important

/*Titulo*/
#main-header
  width 100%
  display flex
  align-items center
  flex-wrap wrap
  position fixed
  border-top 5px solid var(--greenMate)
  h1
    font-size 1.5rem
    font-weight bold
    letter-spacing -0.5px
    word-spacing 2px
    text-transform uppercase
  a
    color var(--greenPure)
    
#main-title
  padding-left 3rem

/*Contenido*/
#content
  width 100%
  height 100vh

.wrapper-content
  article
    width 100%
    height auto
    margin 0 auto
    padding 8em 0 8em 0
    &:first-child
      padding 10em 0 10em 0
    &:nth-child(even)
      background var(--greenPure)
      color #FFFFFF
    &:nth-child(odd)
      color var(--hardGreen)

/*Reglas para contenido igual*/
.title-article
  font-size 3rem
  padding 5rem 0 0 0
  text-align center

.txt
  margin 2rem auto
  max-width 800px
  width 90%
  font-size 1.6rem

#content-intro,#content-presentation,#content-habilidades,#contacto
  div
    margin-top 2rem
    height 250px
    background-size 600px !important

#content-intro div
  background url(../img/sprite.png) no-repeat center -55px

#content-presentation div
  background url(../img/sprite.png) no-repeat center -380px

#content-services .img-services
  background url(../img/sprite.png) no-repeat center -700px
  height 250px
  background-size 600px

#list-services
  margin 2em auto
  width 90%
  max-width 1024px
  height auto
  display flex
  align-items center
  flex-wrap wrap
  justify-content space-around

.iten-services
  padding 2rem 0 2rem 0
  width 100%
  max-width 180px
  margin-bottom 2rem
  color #000000
  h3
    font-weight 400
    font-size 16px
    padding-top 1rem
    text-align center
  img
    width auto/9
    height auto
    min-width 20%

.app
  margin 0 auto
  width 100px
  height 100px
  background-image url(../img/servicios.svg)
  background-repeat no-repeat

.relogo
  background-position center -124.42px

.brochure
  background-position center -249px

.afiches
  background-position center -373px

.flayers
  background-position center -497px

.vectorizaciones
  background-position center -622px

.gigantografias
  background-position center -747px

.mascotas
  background-position center -871px

.merchandise
  background-position center -995px

.tarjetas
  background-position center -1119px

#content-habilidades div
  background url(../img/sprite.png) no-repeat center -1020px

#contacto div
  background url(../img/sprite.png) no-repeat center -1345px
  a
    color var(--greenMate)

/*Recomendación*/
#main-contain
  width 100%
  height 100%
  background var(--hardWhite)

#sub-contain
  width 90%
  max-width 1300px
  margin 0 auto
  padding 10rem 0 6rem 0
  display grid
  grid-row-gap 100px
  article
    background var(--greenPastel)
    border-radius 5px
    display grid
    grid-template-columns 30% 70%
    .a
      text-align center
      grid-row-start 1
      grid-row-end 3
      padding 100px 0 100px 0
      background-size 40%
    .b
      text-align left
      grid-row-start 1
      grid-row-end 2
      align-self center
      font-size 1.8rem
      padding 50px 0 20px 0
      a
        display inline-block
        margin-top 1rem
        background var(--greenPure)
        border-radius 5px
        color #ffffff
        padding 1rem
        font-size 1rem
    .c
      grid-row-start 2
      grid-row-end 3
      align-self center
      font-size 1.3rem
      padding 10px 0 50px 0
      width 90%

.aa
  background url("../img/brave-logotype-dark.svg") no-repeat center

.bb
  background url("../img/mamp.png") no-repeat center

.cc
  background url("../img/prepros.png") no-repeat center

.dd
  background url("../img/restream.png") no-repeat center

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (max-width:1366px)
  #content-intro,#content-presentation,#content-habilidades,#contacto
    div
      height 150px
      background-size 350px !important
  
  #content-intro div
    background url(../img/sprite.png) no-repeat center -35px
  
  #content-presentation div
    background url(../img/sprite.png) no-repeat center -220px

  #content-services .img-services
    background url(../img/sprite.png) no-repeat center -400px
    height 150px
    background-size 350px
  
  #content-habilidades div
    background url(../img/sprite.png) no-repeat center -590px

  #contacto div
    background url(../img/sprite.png) no-repeat center -780px
  
  .title-article
    padding 2rem 0 0 0

  .txt
    font-size 1.3rem

/*@media screen and (max-width:1024px)*/
  

@media screen and (max-width:768px)
  /*Logotipo*/
  #logo
    background-size 10%
    height 100px
    max-height none
    max-width none
    &:after
      display none

  /*Titulo*/
  #main-header,
  #main-footer
    display block
    position static

  #main-header h1
    font-size 2rem
    text-align center
    font-weight bold

  #main-title
    padding 2rem 0 2rem 0
  
  #content
    height 400px
  
  #sub-contain
    padding 2rem 0 3rem 0
    article
      grid-template-columns 50% 50%

  /*Botonera Social*/
  #social-footer
    position static
    display flex
    align-items center
    flex-wrap wrap
    justify-content space-around
    &:before
      display none
    a
      margin-right 0

@media screen and (max-width:480px)
  #main-title
    padding 1rem 0 1rem 0
  
  #content
    height 200px
    img
      max-width 80%

  #social-footer
    display block
    width 100%

  #social-footer a
    display inline-block
    margin-left 20px
    margin-top 20px

  #list-services
    display block

  .iten-services
    margin 1em auto
  
  .app
    background-image url(../img/servicio.png)

  .wrapper-content article
    padding 2rem 0 2rem 0

  .title-article
    font-size 2rem
    padding 1em 0 1em 0

  .txt
    width 85%
    font-size 16px

  #sub-contain
    padding 2rem 0 2rem 0
    article
      display block
      .b
        text-align center
    .c
      margin 0 auto

  #content-intro div
    display none

  #content-presentation div
    display none

  #content-services div
    display none

  #content-habilidades div
    display none

  #contacto div
    display none