#cabecera
  a
    border none
    background none
    padding 0
    border-radius 0
    color var(--devWhite)
    &:hover
      border 0
  #wrap-logo-nav
    width 80%
    margin 0 auto
    padding-top 4rem
    display flex
    align-items center
    .menu-open
      user-select none
      cursor pointer
      height 40px
      width 40px
      background url('../img/icon-hamburger.svg') no-repeat center
      background-size 60%
  #logo
    width 20%
    display flex
    align-items center
    justify-content center
    img
      width 80px
  nav
    width 60%
    display flex
    ul
      display none
    li
      font-size 1.5rem
      width 25%
      list-style none
      text-align center
    a
      font-family 'Roboto', Helvetica, sans-serif
      &:hover
        font-weight bolder
        border-bottom solid 1px var(--devWhite)
  #contact
    text-align right
    width 20%
    a
      text-indent 100%
      white-space nowrap
      overflow hidden
      display inline-block
      width 48px
      height 48px
      border-radius 50%
      &:first-child
        background url('../img/icon-tel.svg') no-repeat center var(--devWhite)
      &:last-child
        background url('../img/icon-mail.svg') no-repeat center var(--devWhite)
      &:hover
        border solid 3px var(--devWhite)

.menu-checkbox
  display none
  &:checked ~ #wrap-logo-nav
    .menu-open
      background url('../img/icon-close.svg') no-repeat center !important
      background-size 60% !important
    ul
      display flex
      width 100%
    #logo
      justify-content flex-start