@import "reset.styl"
@import "helper.styl"
@import "header.styl"

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Principal*/
#contenedor
  height auto

#cabecera
  width 100%
  background linear-gradient(-45deg, rgba(205,38,252,1) 0%, rgba(140,62,244,1) 53%, rgba(145,132,250,1) 100%), url("../img/top-back.jpg")
  background-size cover
  background-position 0 center
  background-repeat no-repeat
  background-blend-mode multiply
  color var(--devWhite)
  font-family 'Titillium Web', Helvetica, sans-serif
  #wrap-hgroup
    display flex
    justify-content flex-end
  hgroup
    padding-top 15%
    padding-bottom 5%
    width 82%
    text-align left
    h1
      font-size 5rem
      line-height 95%
    h2
      font-size 3rem
      letter-spacing 1px
      font-family 'Roboto', Helvetica, sans-serif

.round
  border-top 2rem solid var(--devGrape)
  border-left 2rem solid transparent

#cuerpo
  margin 0 auto
  width 100%
  padding 0 0 6% 0
  article:nth-child(even)
    justify-content flex-end
    text-align left
  article:nth-child(odd)
    text-align right
  article
    margin-top 10%
    display flex
    align-items center
    align-content center
    .wrap-article
      width 60%
      padding 5%
      h2
        font-family 'Titillium Web', Helvetica, sans-serif
        font-size 4rem
        line-height 3.8rem
        padding-bottom 1rem
        color var(--devGrape)
        max-width 500px
        display inline-block
      h3
        font-size 2rem
        font-weight bolder
        padding-bottom 2rem
        text-transform uppercase
        color var(--devOrange)
      hr 
        background var(--devGrape)
      p
        font-size 1.5rem
        font-weight 200
        line-height 2rem
        max-width 500px
        display inline-block
      .bot-call
        background var(--devGrape)
        display inline-block
        font-size 1.2rem
        color var(--devWhite)
        border 0

/*background article*/
#cuerpo
  article
    &:nth-child(1)
      background url("../img/iam.jpg") no-repeat
      background-size 40% auto
      background-position 100% 0
    &:nth-child(2)
      background url("../img/services.jpg") no-repeat
      background-size 40% auto
      background-position 0 50%
    &:nth-child(3)
      background url("../img/contact.jpg") no-repeat
      background-size 40% auto
      background-position 100% 50%
  
footer
  position relative
  padding 4rem 0 4rem 0
  background var(--devGrape)

#pie
  margin 0 auto
  width 90%
  max-width 1200px
  padding 1rem 0 3rem 0
  display flex
  justify-content space-around
  .contacto
    width 30%
    a
      border solid 1px var(--devWhite)
      font-size 1.2rem
      line-height 3rem
      color var(--devWhite)
    p
      font-family 'Titillium Web', Helvetica, sans-serif
      font-weight bolder
      margin-bottom 2rem
      font-size 1.5rem
      text-transform uppercase
      color var(--devOrange)
      letter-spacing 2px
      text-align right
      &:after
        display block
        content ""
        position relative
        width 90%
        border-bottom dotted 2px var(--devOrange)
        padding-bottom .5rem
  ul
    width 30%
    li
      list-style none
      text-align right
      &:first-child
        font-family 'Titillium Web', Helvetica, sans-serif
        font-weight bolder
        margin-bottom 2rem
        font-size 1.5rem
        text-transform uppercase
        color var(--devOrange)
        letter-spacing 2px
        &:after
          display block
          content ""
          position relative
          width 90%
          border-bottom dotted 2px var(--devOrange)
          padding-bottom .5rem
      a
        font-size 1.2rem
        line-height 3rem
        color var(--devWhite)

#copyright
  font-size 0.9rem
  display block
  width 90%
  max-width 1200px
  margin 0 auto
  text-align right
  color var(--devWhite)

.adorno
  position absolute
  width 100%
  top 0
  right 0
  div
    position absolute
    width 100px
    height 100px
    background var(--devOrange)
    top -50px
    right 100px
    display flex
    align-items center
    justify-content center
    border-radius 50%
    img
      max-width 60%