@import "reset.styl"
@import "helper.styl"
@import "header.styl"

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Principal*/
#contenedor
  height 100%

#cabecera
  height 100vh
  width 100%
  background rgb(205,38,252);
  background linear-gradient(-45deg, rgba(205,38,252,1) 0%, rgba(140,62,244,1) 53%, rgba(145,132,250,1) 100%)
  color var(--devWhite)
  font-family 'Titillium Web', Helvetica, sans-serif
  #wrap-hgroup
    display flex
    justify-content flex-end
  hgroup
    padding-top 25%
    width 82%
    text-align left
    h1
      font-size 5rem
      letter-spacing 2px
    h2
      text-transform uppercase
      font-size 2rem
      font-weight lighter
      font-family 'Roboto', Helvetica, sans-serif

#cuerpo
  margin 0 auto
  width 90%
  max-width 1200px
  padding 5% 0 5% 0
  article
    padding-bottom 8%
    display flex
    flex-wrap wrap
    justify-content flex-end
    .wrap-article
      width 50%
    h2
      font-family 'Titillium Web', Helvetica, sans-serif
      font-size 4rem
      line-height 3.8rem
      padding-bottom 1rem
      color var(--devGrape)
    h3
      font-size 2rem
      font-weight bolder
      padding-bottom 2rem
      text-transform uppercase
      color var(--devLightGrey)
    p
      font-size 1.5rem
      font-weight 200
      line-height 2rem
    .bot-call
      background var(--devGrape)
      display inline-block
      font-size 1.2rem
      color var(--devWhite)
      border 0

footer
  position relative
  padding 4rem 0 4rem 0
  background var(--devGrape)

#pie
  margin 0 auto
  width 90%
  max-width 1200px
  padding 1rem 0 3rem 0
  display flex
  justify-content space-around
  .contacto
    width 30%
    a
      border solid 1px var(--devWhite)
      font-size 1.2rem
      line-height 3rem
      color var(--devWhite)
    p
      font-family 'Titillium Web', Helvetica, sans-serif
      font-weight bolder
      margin-bottom 2rem
      font-size 1.5rem
      text-transform uppercase
      color var(--devOrange)
      letter-spacing 2px
      text-align right
      &:after
        display block
        content ""
        position relative
        width 90%
        border-bottom dotted 2px var(--devOrange)
        padding-bottom .5rem
  ul
    width 30%
    li
      list-style none
      text-align right
      &:first-child
        font-family 'Titillium Web', Helvetica, sans-serif
        font-weight bolder
        margin-bottom 2rem
        font-size 1.5rem
        text-transform uppercase
        color var(--devOrange)
        letter-spacing 2px
        &:after
          display block
          content ""
          position relative
          width 90%
          border-bottom dotted 2px var(--devOrange)
          padding-bottom .5rem
      a
        font-size 1.2rem
        line-height 3rem
        color var(--devWhite)

#copyright
  font-size 0.9rem
  display block
  width 90%
  max-width 1200px
  margin 0 auto
  text-align right
  color var(--devWhite)

.adorno
  position absolute
  width 100%
  top 0
  right 0
  div
    position absolute
    width 100px
    height 100px
    background var(--devOrange)
    top -50px
    right 100px
    display flex
    align-items center
    justify-content center
    border-radius 50%
    img
      max-width 60%
