:root
  font-size 16px
  --devWhite #FFFFFF
  --devGrey #7B7B7B
  --devGrape #5B0DBE
  --devOrange #FFA500

/*Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
  margin 0
  padding 0
  border 0
  font-size 100%
  vertical-align top
  outline 0
  box-sizing border-box
  text-rendering optimizeLegibility

html
  width 100%
  height 100%

body
  color var(--devGrey)
  width 100%
  height 100%
  font-size 16px
  font-family "Roboto", Helvetica, sans-serif

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection
  background #b3d4fc
  text-shadow none

::selection
  background #b3d4fc
  text-shadow none

::-webkit-scrollbar
  width 1rem
::-webkit-scrollbar-track
  border-radius 0.2rem
::-webkit-scrollbar-thumb
  background #8F71F8
  border-radius 0.2rem

/*
 * A better looking default horizontal rule
 */
hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

/*
 * Remove default fieldset styles.
 */
fieldset
  border 0
  margin 0
  padding 0

/*
 * Allow only vertical resizing of textareas.
 */
textarea
  resize vertical

@-webkit-viewport
  width device-width
@-moz-viewport
  width device-width
@-ms-viewport
  width device-width
@-o-viewport
  width device-width
@viewport
  width device-width

/*Transiciones*/
.anin-rapido
  -webkit-transition all 0.2s ease-out
  -moz-transition all 0.2s ease-out
  -o-transition all 0.2s ease-out
  -ms-transition all 0.2s ease-out
  transition all 0.2s ease-out

.anin-normal
  -webkit-transition all 0.5s ease-out
  -moz-transition all 0.5s ease-out
  -o-transition all 0.5s ease-out
  -ms-transition all 0.5s ease-out
  transition all 0.5s ease-out

.anin-lento
  -webkit-transition all 1s ease-out
  -moz-transition all 1s ease-out
  -o-transition all 1s ease-out
  -ms-transition all 1s ease-out
  transition all 1s ease-out

  /*Enlaces*/
a
  color var(--devGrape)
  padding 10px
  border-radius 5px
  text-decoration none
  border-radius 5px
  &:hover
    background var(--devGrape)
    color var(--devWhite)
    border-left solid 5px var(--devOrange)
    border-top solid 2px var(--devWhite)
    border-bottom solid 2px var(--devWhite)
    border-right solid 2px var(--devWhite)